/* Codigo base para el html & body */
body,html {
	background: #CCC;
	padding: 0;
	margin: 0;
}

/* ENCABEZADO DEL SITIO */
.encabezado {
	height: 75px;
	width: 100%;
	background: #2E9AFE;
	padding: 25px 5px 5px 15px;
}
.encabezado h1 {
	margin: 0px;
	color: #FFF;
	font-size: 46px;
	text-shadow: 3px 3px 3px #696969;
    filter: dropshadow(color=#696969, offx=3, offy=3);
}


/* CONTENIDO DEL SITIO */
.contenido {
	width: 95%;
	height: 0;
	background: #FFF;
	margin: 0 auto 0 auto;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	border-radius: 20px;
}
.searchBox {
	margin: 10% auto 0 auto;
	border: 3px #666 dashed;
	padding: 40px;
	border-radius: 15px;
	background: transparent;
	width: 300px;
	height: auto;
	width: 25%;
}
.center {
	margin: 0 auto 0 auto;
	width: 200px;
}
.searchBox img {
	margin: 20px 5px 5px 5px;
}
.search {
	width: 80%;
	border-radius: 15px;
	background: #FAFAFA;
	height: 40px;
	color: #666;
	font-size: 26px;
}
.send {
	position: relative;
}
.go {
	position: absolute;
	top: -25px;
	right: 0px;
}
